html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #00ff91;
}

a {
  background-color: ;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  color: darkgreen;
}

img{
 width:40%;
 
}